
<div class="blue-grey darken-4">
    <div class="container-questions">
        <h2 class="text-primary">{{titleRestaurtant | uppercase }}</h2>
        <div class="container questions col s12">
            <div *ngFor="let ask of questions; first as primero">
                <div class="ask" [ngClass]="{'is-active': primero}">
                    <p class="text-primary">{{ask.question}}</p>
                    <div class="divider"></div>
                    <form class="form" action="#">
                        <p>
                            <label>
                                <input name="group1" type="radio"/>
                                <span>Muy Satisfecho</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio"/>
                                <span>Satisfecho</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio"/>
                                <span>Regular</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio"/>
                                <span>Malo</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio"/>
                                <span>Pesimo</span>
                            </label>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12">
            <button class="btn light-blue darken-4" (click)="nextQuestion()">{{textButton}}</button>
        </div>
    </div>
</div>